/* ProductGrid.css */
.product-grid {
  margin-bottom: 2rem;
}

.product-grid-title {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: var(--title);
  text-align: center;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

/* Responsive */
@media (max-width: 768px) {
  .products-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 0.5rem;
  }
  .price-control,
  .category-control {
    display: none;
  }
}

@media (max-width: 480px) {
  .products-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
